* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.01em;
  position: relative;
}

.header {
  height: 58px;
  background: #19849b;
}

.header__name {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
  line-height: 58px;
  text-align: center;
}

.hero {
  background-color: #272a2f;
  padding: 51px;
}

.container {
  max-width: 1038px;
  margin: 0 auto;
}

.hero__profile {
  display: flex;
  margin-left: 31px;
}

.hero__photo {
  background-image: url(../images/hero-photo.jpg);
  width: 411px;
  height: 355px;
  padding-left: 31px;
  padding-right: 380px;
}

.hero__personality {
  color: #ffffff;
  margin-left: 70px;
}

.hero__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0.01em;
  margin-bottom: 14px;
}

.hero__line {
  width: 559px;
  height: 4px;
  background: #19849b;
  border: none;
  margin-bottom: 13px;
}

.hero__subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.01em;
  margin-bottom: 32px;
}

.hero__button {
  outline: none;
  border: solid 3px #ffffff;
  color: inherit;
  background-color: #272a2f;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  padding: 12px 77px;
  letter-spacing: 1.5px;
  margin-top: 30px;
  transition: all 0.2s;
}

.hero__button:hover {
  border: none;
  background-color: #19849b;
  width: 294px;
  height: 51px;
}

.portfolio {
  background-color: #272a2f;
  color: #ffffff;
  padding-top: 53px;
  padding-left: 61px;
  padding-bottom: 99px;
}

.modalPictures {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(25, 132, 155, 0.3);
  z-index: 9;
}

.modal-btn {
  outline: none;
  border: solid 3px #ffffff;
  color: inherit;
  background: rgba(25, 132, 155, 0.3);
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.2s;
  position: absolute;
  padding: 10px 24px;
  top: 23%;
  left: 64.5%;
}

.modal-image {
  background-image: url(../images/big-pictures.jpg);
  width: 675px;
  height: 675px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.portfolio__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.01em;
  margin-bottom: 15px;
}

.portfolio__discription {
  max-width: 766px;
}
